@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

// Breakpoints
$mobile: 375px;
$desktop: 1440px;

// Colors
$primary: hsl(215, 51, 70);
$secondary: hsl(178, 100, 50);

$main-bg: hsl(217, 54, 11);
$card-bg: hsl(216, 50, 16);
$line-color: hsl(215, 32, 27);
$white: hsl(0, 0, 100);

// Typography
$body: 18px;